body{
    background-image: url(fundo3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

section {

    background-color: rgba(255, 255, 255, .6); /* cor do fundo da section (no caso) /
    border-radius: 12px; / raio da borda /
    padding:  15px;     / ESPAÇO  /
    width: 1000px;      / largura fixa /
    height: 540px;
    margin: left;      / posição na tela / 
    box-shadow:  5px 5px 10px black; / sombra das bordas /
    text-align: left;  / mexe com a posição do texto */ 
    font-size: large;
    font-style: oblique;
    font: 15pt monospace;
}

h1 {
    color: red;
    text-indent: 50px;
    text-shadow: black 1px 1px 1px;

}

input.mark{
    cursor: pointer;
}

input.entradaD {
    box-shadow: black 1px 1px 1px;
}

input.nomeV {
    box-shadow: black 1px 1px 1px;
}

div.nomeVariavel{
    padding: 15px;
}

div.variaveis {
    text-shadow: black .5px .6px .2px;
    padding: 15px;
}

div {
    text-indent: 50px;
}

button {
    background-color: rgb(255, 255, 255);
    border-radius: 1px 1px 1px 1px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

button#upload{
    margin: 10px 10px 10px 318px;
    box-shadow: black 1px 1px 1px;
}

button#calcular{
    box-shadow: black 1px 1px 1px;
}